:root {
  --white-color: #ffffff;
  --purple-color: #6665de;
  --dark-color: #222222;
  --light-purple-color: #eff3ff;
  --green-color: #509e35;
  --red-color: #f10048;
  --grey-color: #8e95ab;
  ---tabcolor: #6665decf;
  --main-bgcolor: #f6f4ff;
  --deep-purple-color: #dad4ff;
  --explore-more-color: #d9d9d9;
  ---border-color: #f5f7fa;
}
@font-face {
  font-family: "ptroot";
  src: url("../public/PT-Root-UI_Regular.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "ptroot" !important;
}

body {
  background-color: var(--main-bgcolor);
}
